/*
  作用: 增加样式表的扩展性，方便后续更改
  代码: 项目的一些scss变量(譬如基本颜色，常用颜色，基本字号，常用字号等)
*/

/* 在纯 CSS 中定义自定义属性 */
:root {
  --color-lightest: #faf7fd;
  --color-lighter: #eeeaff;
  --color-light: #bfb7e0;
  --color: #736696;
  --main-color: #9076f8;
  --color-deep: #422889;
  --color-deeper: #352566;  
  --color-gradient: linear-gradient(45deg, #b896ff -13.08%, #87dbff 82.12%);
  --transition-padding: padding 0.3s;
  --transition: all 0.3s ease;
  --shadow: 0px 0px 30px rgba(138, 122, 215, 0.45);
  --shadow-light: 0px 0px 30px rgba(138, 122, 215, 0.15);
}

// 下面是element-plus的主题覆盖
$--font-size: (
  (
    'extra-large': 21px,
    'large': 19px,
    'medium': 17px,
    'base': 15px,
    'small': 14px,
    'extra-small': 12px,
  )
);
$--colors: (
  "primary": (
    "base": #212529 ,
  ),
  "success": (
    "base": #7BA23F,
  ),
  "warning": (
    "base": #ff8800,
  ),
  "danger": (
    "base": #a30303,
  ),
  "error": (
    "base": #Fed71a,
  ),
  "info": (
    "base": #777,
  ),
);

// @forward "element-plus/theme-chalk/src/common/var.scss" with (
//   // do not use same name, it will override.
//   $font-size: $--font-size, 
//   $colors: $--colors,

// );



