/*
  作用: 增加样式表的扩展性，方便后续更改
  代码: 项目的一些scss变量(譬如基本颜色，常用颜色，基本字号，常用字号等)
*/

/* 在纯 CSS 中定义自定义属性 */
:root {
  --color-lightest: #faf7fd;
  --color-lighter: #eeeaff;
  --color-light: #bfb7e0;
  --color: #736696;
  --main-color: #9076f8;
  --color-deep: #422889;
  --color-deeper: #352566;  
  --color-gradient: linear-gradient(45deg, #b896ff -13.08%, #87dbff 82.12%);
  --transition-padding: padding 0.3s;
  --transition: all 0.3s ease;
  --transition-bg: background-color 0.3s ease;
  --transition-color: color 0.3s ease;
  --transition-width: width 0.3s ease;
  --transition-height: width 0.3s ease;
  --transition-padding: padding 0.3s ease;
  --transition-margin: margin 0.3s ease;
  --shadow: 0px 0px 30px rgba(138, 122, 215, 0.45);
  --shadow-light: 0px 0px 30px rgba(138, 122, 215, 0.15);
}
